* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;

}

canvas {
  display: block;
  z-index: -1;
}

.run{
  position: absolute;
  justify-content: center;
  align-items: center;
  color: rgb(72, 182, 28);
  margin-left: 5px;
  margin-right: 5px;
  top: 80px;

}
.marq1{
  position: absolute;
  justify-content: center;
  align-items: center;
  color: beige;
  margin-left: 5px;
  margin-right: 5px;
  top: 100px;
  z-index: 1;
}
.marq2{
  position: absolute;
  justify-content: center;
  align-items: center;
  color: beige;
  margin-left: 5px;
  margin-right: 5px;
  top: 150px;
  z-index: 1;
}
.lang{
  position: absolute;
  justify-content: center;
  align-items: center;
  color: rgb(245, 245, 11);
  margin-left: 6px;
  margin-right: 6px;
  top: 30px;


}
@media screen and (max-width: 768px) {
    nav ul {
    width: 50%;
    }
}
/* ukuran mobile */
@media screen and (max-width: 768px) {
    nav ul {
    display: none;
    }
}

